## Lists & Loops

Reverse a list without using .reverse() or slicing.

In [39]:
# method 1
l = [x for x in range(0,10)]
print(f"Original List: {l}")
p1, p2 = 0, len(l)-1
while p1<p2:
    l[p1], l[p2] = l[p2], l[p1]
    p1 +=1
    p2 -=1
print(f"Recersed List: {l}")

Original List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Recersed List: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [36]:
l = [1,2,3,4,5]

In [ ]:
# method 2: slicing
l[::-1]

[5, 4, 3, 2, 1]

In [ ]:
# method 3: reverse()
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [7]:
l[::-1]

[5, 4, 3, 2, 1]

In [21]:
# l.sort()
# l.append(5)
# l.extend([6, 7])
# l.append("anb")
# l.extend(["af", 5])
# l.insert(0, 99)
# print(l)

In [31]:
l = [x for x in range(1,3)]
l

[1, 2]


Find the second largest number in a list (handle duplicates).

In [ ]:
l = [x for x in range(0,100, 4)]
print(f"List: {l}")
sorted(l)[-2]

List: [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

92

In [47]:
# l = [2]
sorted(set(l))[-2]

92

In [49]:
lst = [10, 44, 18, 12, 160, 290, 244, 128, 32, 326, 400, 4004, 480]
lst

[10, 44, 18, 12, 160, 290, 244, 128, 32, 326, 400, 4004, 480]

In [ ]:
if len(lst) < 2:
    print("List not eligile for furthur processing")
else:
    largest , sec_largest = None, None
    for num in lst:
        # num and largest comparision
        if (largest is None) or (num > largest):
            sec_largest = largest
            largest = num
        # num and second largest comparision
        elif num != largest and (sec_largest is None or num > sec_largest):
            sec_l = num

print(sec_l)

480

In [ ]:
largest = None
second = None

for n in lst:
    # we will do this in the first loop
    if largest is None:
        largest = n
        continue

    # we will do this in the second or following loop
    if n > largest:
        second = largest # assign second
        largest = n
        continue

    if n == largest: # this is to make sure second and largest are not the same
        continue

    if second is None or n > second:
        second = n

second

480


Remove duplicates from a list while preserving order.

In [65]:
lst = [1,1,2]
seen = set()
result_list = []

for i in lst:
    if i not in seen:
        seen.add(i)
        result_list.append(i)
# result_list = list(seen)
result_list

[1, 2]

Rotate a list by k positions.

In [66]:
lst = [c for c in range(1, 6)]
lst

[1, 2, 3, 4, 5]

In [71]:
# rotate right by 2 places
# [1, 2, 3, 4, 5] -----> [4, 5, 1, 2, 3]
k =2 
len_lst = len(lst)
k = k % len_lst

lst[-k:]+lst[:-k]

[4, 5, 1, 2, 3]

In [72]:
# rotate left by 2 places
# [1, 2, 3, 4, 5] -----> [4, 5, 1, 2, 3]
k =2 
len_lst = len(lst)
k = k % len_lst

lst[k:]+lst[:k]

[3, 4, 5, 1, 2]

In [ ]:
l = [1,2,3,4]
k = 1 # k = 4, 5
k = k % len(l)
print(k)

1

In [75]:
lst[k:]+lst[:k]

[2, 3, 4, 5, 1]

Find the intersection of two lists.